<% layout('layouts/boilerplate') %>

<div class="row">
  <h1 class="text-center">Edit Campground</h1>
  <div class="col-md-6 offset-md-3">

    <!-- Form Start -->
    <form action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST" class="needs-validation" novalidate enctype="multipart/form-data">

      <div class="mb-3">
        <label class="form-label" for="title">Title</label>
        <input autocomplete="off" required class="form-control" type="text" id="title" name="campground[title]" value="<%= campground.title %>">
      </div>

      <!-- Location -->
      <div class="mb-3">
        <label class="form-label" for="location">Location</label>
        <input autocomplete="off" required class="form-control" type="text" id="location" name="campground[location]" value="<%= campground.location.name || campground.location %>">
      </div>

      <!-- Price -->
      <div class="mb-3">
        <label class="form-label" for="price">Price</label>
        <div class="input-group">
          <span class="input-group-text" id="price-label">$</span>
          <input autocomplete="off" required type="text" class="form-control" placeholder="0.00" aria-label="price" aria-describedby="price-label" name="campground[price]" value="<%= campground.price %>">
        </div>
      </div>

      <!-- Description -->
      <div class="mb-3">
        <label class="form-label" for="description">Description</label>
        <textarea required class="form-control" type="text" id="description" name="campground[description]"><%= campground.description %></textarea>
      </div>

      <!-- Images -->
      <div class="mb-3">
        <label for="images" class="form-label">Add Images</label>
        <input class="form-control" type="file" id="images" name="campground[images]" multiple>
      </div>

      <!-- Delete Images -->
      <div class="container">
        <% campground.images.forEach((img, idx) => { %>
        <% if (idx % 2 === 0) { %>
        <div class="row mb-4">
          <% } %>
          <div class="col-sm">
          <img src="<%= img.thumbnail %>" class="img-thumbnail" alt="<%= img.filename %> ">
          <div class="custom-control custom-checkbox">
            <input class="custom-control-input" type="checkbox" id="image-<%= idx %>" name="deleteImages[]" value="<%= img.filename %>">
            <label class="custom-control-label" for="image-<%= idx %>">Delete</label>
          </div>
        </div>
          <% if (idx % 2 !== 0) { %>
        </div>
        <% } %>

        <% }) %>
      </div>

      <div class="mb-3">
        <button class="btn btn-info" type="submit">Update campground</button>
      </div>
    </form>


    <a href="/campgrounds/<%= campground._id %>">Go Back</a>
  </div>
</div>