<% layout('layouts/boilerplate') %>
<div id="cluster-map"></div>

<!-- <h1>Campgrounds</h1>
<% //campgrounds.sort((a,b ) => b.reviews.length - a.reviews.length).forEach(camp => { %>
<div class="card mb-3 col">
  <div class="row">
    <div class="col-md-4">
      <img class="img-fluid" src="<%= //camp.images?.[0]?.url %>" alt="">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><%= //camp.title %></h5>
        <p class="card-text"><%= //camp.description %></p>
        <p class="text-muted"><%=// camp.location.name || camp.location %></p>
        <a class="btn btn-primary" href="/campgrounds/<%= //camp._id %>">View <%= //camp.title %></a>
      </div>
    </div>
  </div>
</div>
<% //}) %> -->


<h1 class="mt-3 display-1">Campgrounds</h1>
<div class="row row-cols-1 row-cols-md-3 g-4 my-3">

  <% campgrounds.sort((a,b ) => b.reviews.length - a.reviews.length).forEach(camp => { %>
  <div class="col">
    <div class="card h-100 shadow-sm p-3 mb-5 bg-body rounded">

      <!-- Camp Starts Here -->
      <img class="img-fluid" src="<%= camp.images?.[0]?.url %>" alt="">
      <div class="card-body">
        <h5 class="card-title"><%= camp.title %></h5>
        <p class="card-text"><%= camp.description %></p>
        <p class="text-muted"><%= camp.location.name || camp.location %></p>
        <a class="btn btn-primary" href="/campgrounds/<%= camp._id %>">View <%= camp.title %></a>
      </div>

    </div>
  </div>




  <% }) %>

</div>




<script>
  const mapboxToken = "<%= process.env.MAPBOX_TOKEN %>";
  const campgrounds = {
    features: <%- JSON.stringify(campgrounds) %>
  }
</script>
<script src="/js/clustermap.js"></script>